easyocr==1.7.2
fire==0.7.0
fuzzywuzzy==0.18.0
ipykernel==6.29.5
lmdb==1.6.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
networkx==3.2.1
numpy==1.24.4
opencv-python==4.5.5.64
opencv-python-headless==4.5.4.60
pandas==2.2.3
pillow==11.0.0
regex==2024.11.6
requests==2.32.3
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spellchecker==0.4
sympy==1.13.1
tifffile==2024.8.30
torch==1.12.1
torchaudio==0.13.1
torchvision==0.14.1
tornado==6.4.2
tqdm==4.66.1
typing_extensions==4.12.2
wordcloud==1.9.4
yt-dlp==2024.12.6